{% extends "dictionary/base.html" %}
{% block content %}

        <h1 class="page-title">About the Ojibwe Language</h1>
<p>Ojibwe has been called by many names including Anishinaabemowin, Ojibwe, Ojibway, Ojibwa, Southwestern Chippewa, and Chippewa. It is a Central Algonquian language spoken by the Anishinaabe people throughout much of Canada from Ontario to Manitoba and US border states from Michigan to Montana. It is centered around the Great Lakes homeland of the Ojibwe people.</p>
<p>The variety of Ojibwe used in the Ojibwe People's Dictionary is the Central Southwestern Ojibwe spoken in Minnesota, Wisconsin and Canadian border lakes communities. Today, it is spoken mainly by elders over the age of 70. Ethnologue reports 5,000 speakers of Southwestern Chippewa (Lewis, 2009), but a 2009 language census by language activists Keller Paap and Anton Treuer shows approximately 1,000 speakers in Minnesota and Wisconsin, with most located in the Red Lake community of Ponemah (Treuer, 2009).</p>
<p>The UNESCO Atlas of the World's Languages in Danger lists Ojibwe in Minnesota as “severely endangered” and defines it as a language “spoken by grandparents and older generations; while the parent generation may understand it, they do not speak it to children or among themselves,” (UNESCO, 2010).</p>
<p>Revitalization efforts are underway, with immersion schools operating in Minnesota and Wisconsin. Ojibwe has a growing number of second-language speakers, and the language is taught in many secondary and post-secondary classrooms throughout Minnesota, Wisconsin, Michigan and Ontario. The Ojibwe People's Dictionary is part of that greater project.</p>
<h2 class="title">Sounds and Orthography</h2>
<p><a name="dv_alphabet"></a></p>
<h3 class="title">Double-Vowel Alphabet</h3>
<p>&nbsp;</p>
<p>The Ojibwe People's Dictionary uses the Double-Vowel system to write Ojibwe words. This alphabet has become the standard writing system for Ojibwe in the United States and in some parts of Canada. Users unfamiliar with spelling in the Double-Vowel alphabet should consult the <a href="http://ojibwe.lib.umn.edu/help/search">Search Tips</a> page for help in getting the best search results.</p>
<p>The Ojibwe alphabet is as follows:</p>
<p><strong>a, aa, b, ch, d, e, g, h, ’, i, ii, j, k, m, n, o, oo, p, s, sh, t, w, y, z, zh</strong></p>
<p>Note that the double vowels are treated as standing for unit sounds, and are alphabetized after the corresponding single vowels. The character <strong>’</strong> represents a glottal stop, which is a significant speech sound in Ojibwe. The doubled consonants (<em>ch, sh, zh</em>) are also treated as a single letter unit. This is important to remember as you browse alphabetically.</p>
<p>Each vowel is given below along with a phonetic transcription, Ojibwe words containing it, and one or more English words containing roughly equivalent sounds. The letters standing for the sounds focused on are in bold.</p>
<table class="table table-hover" width="100%" cellspacing="5" cellpadding="10" border="0">
<tbody>
<tr>
<th scope="col">Ojibwe letter</th>
<th scope="col">Phonetic</th>
<th scope="col">Ojibwe examples</th>
<th scope="col">English equivalents</th>
</tr>
<tr valign="top">
<td><strong>a</strong></td>
<td>[ə]~[^]</td>
<td><em><strong>a</strong>gim</em> - 'count someone!'<br> <em>n<strong>a</strong>m<strong>a</strong>d<strong>a</strong>bi</em> - 'sits down'<br> <em>baashkizig<strong>a</strong>n</em> - 'gun'</td>
<td><strong>a</strong>bout</td>
</tr>
<tr valign="top">
<td><strong>aa</strong></td>
<td>[a:]</td>
<td><em><strong>aa</strong>gim</em> - 'snowshoe'<br> <em>m<strong>aa</strong>j<strong>aa</strong></em> - 'goes away'</td>
<td>f<strong>a</strong>ther</td>
</tr>
<tr valign="top">
<td><strong>e</strong></td>
<td>[e:]~[ɛ:]</td>
<td><em><strong>e</strong>mikwaan</em> - 'spoon'<br> <em>aw<strong>e</strong>n<strong>e</strong>n</em> - 'who'<br> <em>anishinaab<strong>e</strong></em> - 'person, Indian, Ojibwe'</td>
<td>caf<strong>é</strong></td>
</tr>
<tr valign="top">
<td><strong>i</strong></td>
<td>[Ι]</td>
<td><em><strong>i</strong>n<strong>i</strong>n<strong>i</strong></em>- ' man'<br> <em>maw<strong>i</strong></em> - 'cries'</td>
<td>p<strong>i</strong>n</td>
</tr>
<tr valign="top">
<td><strong>ii</strong></td>
<td>[i:]</td>
<td><em>n<strong>ii</strong>n</em> - 'I'<br> <em>goog<strong>ii</strong></em> - 'dives'</td>
<td>s<strong>ee</strong>n</td>
</tr>
<tr valign="top">
<td><strong>o</strong></td>
<td>[o]~[U]</td>
<td><em><strong>o</strong>zid</em> - 'someone's foot'<br> <em>an<strong>o</strong>kii</em> - 'works'<br> <em>nib<strong>o</strong></em> - 'dies, is dead'</td>
<td><strong>o</strong>bey, b<strong>oo</strong>k</td>
</tr>
<tr valign="top">
<td><strong>oo</strong></td>
<td>[o:]~[u:]</td>
<td><em><strong>oo</strong>dena</em> - 'town'<br> <em>an<strong>oo</strong>kii </em>- 'hires'<br> <em>g<strong>oo</strong>n</em> - 'snow'<br> <em>bimibat<strong>oo</strong></em> - 'runs along'</td>
<td>b<strong>oa</strong>t, b<strong>oo</strong>t</td>
</tr>
</tbody>
</table>
<p><strong>Nasal Vowels.</strong> Nasal vowels are indicated by writing the appropriate basic vowel followed by <em>nh</em>. Before a <em>y</em> or a glottal stop <strong>'</strong> the <em>h</em> may be omitted in writing. There are no direct English equivalents.</p>
<table class="table table-hover" width="100%" cellspacing="5" cellpadding="10" border="0">
<tbody>
<tr>
<th scope="col">Ojibwe letter</th>
<th scope="col">Phonetic</th>
<th scope="col">Ojibwe examples</th>
</tr>
<tr valign="top">
<td width="7%"><strong>aanh</strong></td>
<td width="7%">[ã:]</td>
<td width="86%">banaj<strong>aanh</strong> - 'nestling'</td>
</tr>
<tr valign="top">
<td><strong>enh</strong></td>
<td>[ẽ:]~[ε:]</td>
<td>
<p>nisay<strong>enh</strong> - 'my older brother'</p>
</td>
</tr>
<tr valign="top">
<td><strong>iinh</strong></td>
<td>[ĩ:]</td>
<td>
<p>awes<strong>iinh</strong> - 'wild animal'<br><br> agaash<strong>iin</strong>yi, agaash<strong>iinh</strong>yi - '(someone) is small'</p>
</td>
</tr>
<tr valign="top">
<td><strong>oonh</strong></td>
<td>[õ:]~[ũ:]</td>
<td>giig<strong>oonh</strong> - 'fish'</td>
</tr>
</tbody>
</table>
<p><strong>Nasalized Vowels.</strong> Vowels are nasalized before ns, nz, and nzh. The n is then omitted in pronunciation. A few examples are:</p>
<p><em>gaawiin ingikend<strong>an</strong>ziin</em> - 'I don't know it'<br> <em>jiimaan<strong>en</strong>s</em> - 'small boat'<br> <em>oshk<strong>an</strong>shiin</em> - 'someone's fingernail(s)'</p>
<p>Long vowels after a nasal consonant <em>m</em> or <em>n</em> are often nasalized, especially before <em>s, sh, z,</em> or <em>zh</em>. It is often difficult to decide whether to write these as nasalized vowels or not. For example, while we write the word for 'moose' without indicating the phonetic nasalization, many prefer to write it with an <em>n</em>:</p>
<p><em>mooz</em> or <em>m<strong>oon</strong>z</em> - 'moose'</p>

      
{% endblock content %}
