{% extends "dictionary/base.html" %}
{% load static %}
{% block content%}



<h3>
  <div class="pull-right index-photo"><img class="collection-image index-photo" alt="{{entry.head_image.alt}}" src="{{entry.head_image.src}}"></div>
  <span class="lemma">{{entry.head_lemma}}</span>
  <span class="badge badge-oj" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{entry.part_of_speech.full}}">{{entry.part_of_speech.abbrev}}</span>
    {% if entry.head_speaker %}
    <a href="{{entry.head_speaker.href}}" class="speaker-initials" data-toggle="modal" data-target="#voiceModal" data-remote="false">
      {{entry.head_speaker.initials}}</a>
    {% endif %}
    {% if entry.head_audio %}
       <span class="badge badge-oj badge-audio-player">
      <div id="audio-player-116840" class="audio-player" data-file="{{entry.head_audio.regular}}" data-mobile-file="{{entry.head_audio.regular}}">
        <span class="glyphicon glyphicon-volume-up glyphicon-audio-player"></span>
        Listen
      </div>
    </span>
    {% endif %}
</h3>
{% if entry.region.all %}
<p class="regions">
{% for region in entry.region.all %}
<span class="badge badge-oj" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{region.full}}">{{region.abbrev}}</span>
{% endfor %}
</p>
{% endif %}


{{entry.gloss | safe}}


{% if entry.species %}
{{entry.species | safe}}
{% endif %}

{% if entry.notes %}
<strong>Note:</strong>
<br>
{{entry.notes | safe}}
{% endif %}
{% if entry.inflectionalform_set %}
<p class="inflectional-forms">
  {% for form in entry.inflectionalform_set.all %}
  <strong>{{form.form}}</strong> <em>
    {% for pos in form.poss.all %}
    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pos.full}}">{{pos.abbrev}}</span>
    {% endfor %};
  {% endfor  %}
{% endif %}
{% if entry.stem %}
<i>Stem:</i> {{entry.stem}}
{% endif %}
</p>
{% if entry.basic_audio.all %}
<div class="panel panel-oj">
  <div class="panel-heading" role="tab" id="audioBasicFormsHeader">
    <h4 class="panel-title">
      <a class="" role="button" data-toggle="collapse" href="#audioBasicForms" aria-expanded="true" aria-controls="audioBasicForms">
        <span class="caret"></span>
        Audio for Basic Forms
      </a>
    </h4>
  </div>
  <div id="audioBasicForms" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="audioBasicFormsHeader" aria-expanded="true">
    <div class="panel-body">
      <table class="table table-hover audio-table">
          <tbody>
            {% for audio_form in entry.basic_audio.all %}
                <tr><td><strong>{{audio_form.ojibwe}}</strong></td>
                {% for pos in audio_form.poss.all %}
                  <td><em>
                  <span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pos.ful}}">{{pos.abbrev}}</span> <td class="text-right">
                  </em></td>
                {% endfor %}
                <td class="text-right">
                {% for audio_rec in audio_form.audio_rec.all %}
                        <a href="{{audio_rec.speaker.href}}" class="speaker-initials" data-toggle="modal" data-target="#voiceModal" data-remote="false">
                {{audio_rec.speaker.initials}}
                        </a>
                        <span class="badge badge-oj badge-audio-player">
                              <div id="audio-player-116840" class="audio-player" data-file="{{audio_rec.audio.regular}}" data-mobile-file="{{audio_rec.audio.mobile}}">
                                <span class="glyphicon glyphicon-volume-up glyphicon-audio-player"></span>
                                Listen
                              </div>
                            </span><br>
              {% endfor %}
                          </td>
                </tr>
              {% endfor %}
      </tbody></table>
    </div>
  </div>
</div>
{% endif %}
{% if entry.additional_audio.all %}
<div class="panel panel-oj">
  <div class="panel-heading" role="tab" id="adtlAudioHeader">
    <h4 class="panel-title">
      <a class="" role="button" data-toggle="collapse" href="#adtlAudio" aria-expanded="true" aria-controls="adtlAudio">
        <span class="caret"></span>
        Additional Audio
      </a>
    </h4>
  </div>
  <div id="adtlAudio" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="adtlAudio" aria-expanded="true">
    <div class="panel-body">
      <table class="table table-hover audio-table">
            <tbody>
                          {% for audio_form in entry.additional_audio.all %}
                            <tr><td><strong>{{audio_form.ojibwe}}</strong></td>
                            {%for pos in audio_form.poss.all %}
                              <td><em>
                              <span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pos.full}}">{{pos.abbrev}}</span> <td class="text-right">
                              </em></td>
                            {% endfor %}
                            <td class="text-right">
                            {% for audio_rec in audio_form.audio_rec.all %}
                                    <a href="{{audio_rec.speaker.href}}" class="speaker-initials" data-toggle="modal" data-target="#voiceModal" data-remote="false">
                            {{audio_rec.speaker.initials}}
                                    </a>
                                    <span class="badge badge-oj badge-audio-player">
                                          <div id="audio-player-116840" class="audio-player" data-file="{{audio_rec.audio.regular}}" data-mobile-file="{{audio_rec.audio.mobile}}">
                                            <span class="glyphicon glyphicon-volume-up glyphicon-audio-player"></span>
                                            Listen
                                          </div>
                                        </span><br>
                          {% endfor %}
                                      </td>
                            </tr>
                          {% endfor %}
            </tbody>
    </table>
    </div>
  </div>
</div>
{% endif  %}

  <p></p>
{% if entry.example_sentences.all %}
<div class="panel panel-oj">
  <div class="panel-heading" role="tab" id="sentenceExamplesHeader">
    <h4 class="panel-title">
      <a class="" role="button" data-toggle="collapse" href="#sentenceExamples" aria-expanded="true" aria-controls="sentenceExamples">
        <span class="caret"></span>
        Sentence Examples
      </a>
    </h4>
  </div>
  <div id="sentenceExamples" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sentenceExamplesHeader" aria-expanded="true">
    <div class="panel-body">
      <table class="table table-hover audio-table">
            <tbody>
              {% for sentence in entry.sentence_examples.all %}
                <tr><td><strong><div class="stylized-text">{{sentence.ojibwe}}</div><br></strong><small><em>
                  <div class="stylized-text">{{sentence.english}}</div></em></small></td>
                  <td class="text-right">
                  {% for audio_rec in sentence.audio_rec.all %}
                          <a href="{{audio_rec.speaker.href}}" class="speaker-initials" data-toggle="modal" data-target="#voiceModal" data-remote="false">
                  {{audio_rec.speaker.initials}}
                          </a>
                          <span class="badge badge-oj badge-audio-player">
                                <div id="audio-player-116840" class="audio-player" data-file="{{audio_rec.audio.regular}}" data-mobile-file="{{audio_rec.audio.mobile}}">
                                  <span class="glyphicon glyphicon-volume-up glyphicon-audio-player"></span>
                                  Listen
                                </div>
                              </span><br>
                {% endfor %}
                            </td>
                    </tr>
              {% endfor %}
            </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

{% if entry.word_parts %}
{{entry.word_parts}}
{% endif %}

{% if entry.reduplication %}
<div class="panel panel-oj">
  <div class="panel-heading" role="tab" id="reduplicatedFormsHeader">
    <h4 class="panel-title">
      <a class="" role="button" data-toggle="collapse" href="#reduplicatedForms" aria-expanded="true" aria-controls="reduplicatedForms">
        <span class="caret"></span>
        Reduplication
      </a>
    </h4>
  </div>
  <div id="reduplicatedForms" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="reduplicatedFormsHeader" aria-expanded="true">
    <div class="panel-body">
      Reduplicated Form: <strong>{{entry.reduplication}}</strong>

    </div>
  </div>
</div>
{% endif %}
<div class="panel panel-oj">
  <div class="panel-heading" role="tab" id="conjugatedFormsHeader">
    <h4 class="panel-title">
      <a class="" role="button" data-toggle="collapse" href="#conjugatedForms" aria-expanded="true" aria-controls="conjugatedForms">
        <span class="caret"></span>
        Conjugation
      </a>
    </h4>
  </div>
  <div id="conjugatedForms" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="conjugatedFormsHeader" aria-expanded="true">
    <div class="panel-body">
      {{conjugation | safe}}

    </div>
  </div>
</div>
{% if entry.imageresource_set.all or entry.videoresource_set.all or entry.documentresource_set.all %}
<div class="panel panel-oj">
  <div class="panel-heading" role="tab" id="relatedResourcesHeader">
    <h4 class="panel-title">
      <a class="" role="button" data-toggle="collapse" href="#relatedResources" aria-expanded="true" aria-controls="relatedResources">
        <span class="caret"></span>
        Related Resources
      </a>
    </h4>
  </div>
  <div id="relatedResources" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="relatedResourcesHeader" aria-expanded="true">
    <div class="panel-body">
      <ul class="media-list collection">
        {% if entry.imageresource_set.all %}
        {% for resource in entry.imageresource_set.all %}
        <li class="media"><div class="media-left">
          <a href="{{resource.righthref.url}}"><img class="media-object collection-thumb" src="{{resource.image.src}}" alt="{{resource.image.alt}}"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="{{resource.righthref.url}}">{{resource.righttext}}</a>
          </h4>
        </div>
      </li>
        {% endfor %}
        {% endif %}
        {% if entry.videoresource_set.all %}
        {% for resource in entry.videoresource_set.all %}
        <li class="media"><div class="media-left">
          <a href="{{resource.righthref.url}}"><img class="media-object collection-thumb" src="{{resource.image.src}}" alt="{{resource.image.alt}}"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="{{resource.righthref.url}}">{{entry.righttext}}</a>
          </h4>
        </div>
      </li>
        {% endfor %}
        {% endif %}
        {% if entry.documentresource_set.all %}
        {% for resource in entry.documentresource_set.all %}
        <li class="media"><div class="media-left">
          <a href="{{resource.righthref.url}}"><span class="glyphicon glyphicon-duplicate document-icon"></span></a></div><div class="media-body"><h4 class="media-heading"><a href="{{resource.righthref.url}}">{{resource.righttext}}</a></h4></div></li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}




{% endblock content %}
