<span class="main-entry-title">
      <span class="lemma"><a href="{{entry.url}}">{{entry.head_lemma}}</a></span>
      <span class="badge badge-oj" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{entry.part_of_speech.full}}">
        {{entry.part_of_speech.abbrev}}
      </span>
      {% for region in entry.region.all %}
      <span class="badge badge-oj" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{region.full}}">{{region.abbrev}}</span>
      {% endfor %}
      {% if entry.gloss %}
      {{entry.gloss | safe}}
      {% endif %}
    </span>
