{% extends "dictionary/base.html" %}
{% block content %}

        <h1 class="page-title">Understanding Word Stems, Word Parts and Word Families</h1>
<h2 class="title">Word stems and word forms</h2>
<p>
Most Ojibwe words used in speaking are complex; they have a core part called the <em>stem</em> which carries the basic meanings of the word, and usually have one or more inflectional parts (prefixes in front of the stem or suffixes after the stem) that carry additional meanings. The stem itself may be complex and contain other word stems as bases and word parts as affixes.
</p>
<p>
Throughout the Ojibwe People's Dictionary, you will see references to the stem of a word. The stem is not necessarily the word used in speech, but the base of the word that carries the meaning. However, knowing the stem is useful in forming related words.
</p>
<p>
On verbs, the inflections (prefixes in front of the stem or suffixes after the stem) tell about such things as:</p>
<ul>
<li>who or what is involved with the action or state expressed by the stem as subjects or objects, </li>
<li>when the action or event takes place, </li>
<li>whether it actually takes place or not, </li>
<li>the attitude of the speaker toward the event, </li>
<li>the path or direction it took place on, and so on. </li>
</ul>

<p>Nouns too can have inflections that indicate such things as:</p>
<ul>
<li>plurality, </li>
<li>relationship to other words, </li>
<li>location, </li>
<li>relative size, </li>
<li>and possession. </li>
</ul>

<p>
The word stem itself might not be a full pronounceable word, but is the central part shared by the many different forms of a word stem. An example is "see." In English the verb SEE has five forms: <em>see, sees, saw, seeing,</em> and <em>seen</em>. In Ojibwe there are three  related verb stems used for SEE, depending on whether there is an object or not and the animacy of an object, but each of these stems combines with prefixes and suffixes to form many thousands of possible spoken word forms. It isn’t practical to list all the forms of every word in an Ojibwe dictionary. For each word stem we pick one short form (often nearly the same as the stem) to be the <em>head word</em> of an entry, and then give as <em>basic forms</em> several other forms the stem  is used in. These are picked to be either common forms or forms that give important information about the shape of the many other inflected forms of the stem.
</p>
<h2 class="title">Word parts</h2>
<p>
Many word entries have a word parts section that shows the make up of the stem of the word. Some of the parts shown are base words. The internal structure of the stem of a base word is shown when you select it to view its main entry and word part section. Other parts are word-building affixes. When you select one of these you can see more information about it and links to other words in the dictionary that use it.
</p>
<p>Thanks to David H. Pentland, the dictionary’s consultant in Algonquian comparative linguistics, for his descriptions and translations of Algonquian word parts on which we have relied heavily.
</p>
<h2 class="title">Word families</h2>
<p>
Some of the important relationships between Ojibwe words are shown by grouping their entries together in a word family display. There, word stems that share a common base are shown under that base. Every time you look at word that is a member of a word family, you can see its relationship with the other words in its family in the word family panel at the upper right of the screen. </p>
<p>You can select each words within a word family to navigate to its entry. Most words in a word family will be labeled with a grammatical term that shows their roles within a word family. For example, many base words are transitive verbs with both an actor and a goal, but have within their word families intransitive verbs that downplay the importance of that goal of the verb (detransitive), that downplay the importance of that actor (verb of undergoing), that tell you that the actor is the same person as the goal (reflexive), that another person is added who benefits from the action (benefactive), and so on. Each of these word family members also has its own main entry in the dictionary.</p>
<p>
We usually don’t include in a word family those words that are built on base words but the added part has a different concrete meaning rather than a role-changing function.</p>
<p></p><p>
Below are explanations of the word family labels used in the Ojibwe People's Dictionary.
</p>
<h2 class="title">Word Family Labels</h2>
<table class="table table-hover" width="100%" cellspacing="5" cellpadding="10">
<tbody><tr class="odd views-row-first">
<th scope="col">Word Family Code</th>
<th scope="col">Word Family Label</th>
<th scope="col">Description</th>
</tr>
<tr class="even" valign="top">
<td>applicative</td>
<td>applicative</td>
<td>transitive verb stem with an intransitive verb stem base</td>
</tr>
<tr class="odd" valign="top">
<td>benefactive</td>
<td>benefactive</td>
<td>verb expressing an action done for the benefit of someone; transitive double object verb stem with a verb stem base</td>
</tr>
<tr class="even" valign="top">
<td>causative</td>
<td>causative</td>
<td>verb indicating that someone or something is caused or made to do something or to undergo a process or event; transitive verb stem with a verb stem base
</td>
</tr>
<tr class="odd" valign="top">
<td>derived noun</td>
<td>derived noun</td>
<td>noun with a verb stem base
</td>
</tr>
<tr class="even" valign="top">
<td>detransitive</td>
<td>detransitive</td>
<td>verb downplaying the role of a goal; intransitive verb with a transitive stem base. Also called an antipassive.
</td>
</tr>
<tr class="odd" valign="top">
<td>objoperception</td>
<td>object of perception verb</td>
<td>verb describing how something is perceived; intransitive verb stem with a base similar to a transitive verb stem
</td>
</tr>
<tr class="even" valign="top">
<td>reciprocal</td>
<td>reciprocal</td>
<td>verb in which the actor and the goal affect each other or mutually interact; intransitive verb stem with transitive verb stem base
</td>
</tr>
<tr class="odd" valign="top">
<td>reflexive</td>
<td>reflexive</td>
<td>verb in which the actor and the goal are the same: intransitive verb stem with a transitive verb stem base
</td>
</tr>
<tr class="even" valign="top">
<td>voabundance</td>
<td>verb of abundance</td>
<td>verb indicating the presence or abundance of something; intransitive verb stem with a noun stem base</td>
</tr>
<tr class="odd" valign="top">
<td>voaccompaniment</td>
<td>verb of accompaniment</td>
<td>verb indicating that the actor of the verb accompanies or associates with the goal of the verb; transitive verb stem with a verb stem base.
</td>
</tr>
<tr class="even" valign="top">
<td>voaddiction</td>
<td>verb of addiction</td>
<td>verb indicating habitual behavior, usually that which is considered detrimental; intransitive verb stem with a verb stem base.
</td>
</tr>
<tr class="odd" valign="top">
<td>vobeing</td>
<td>verb of being</td>
<td>verb indicating being or becoming something; intransitive verb stem with a noun stem base
</td>
</tr>
<tr class="even" valign="top">
<td>vocompassion</td>
<td>verb of compassion</td>
<td>verb indicating compassion or pity towards someone; verb stem with verb stem base
</td>
</tr>
<tr class="odd" valign="top">
<td>voundergoing</td>
<td>verb of undergoing</td>
<td>verb downplaying the role of the actor in which the goal becomes an actor; intransitive verb stem with a transitive verb stem base. Also called passive. They are often translated as an English active verb with an indefinite “they” actor or as a passive verb.
</td>
</tr>
<tr class="even" valign="top">
<td>vouse</td>
<td>verb of use</td>
<td>verb indicating atypical use of something; intransitive verb stem with a verb stem base
</td>
</tr>
<tr class="odd" valign="top">
<td>vomaking</td>
<td>verb of making</td>
<td>verb indicating making or processing something; intransitive verb stem with noun stem or verb stem base.
</td>
</tr>
<tr class="even" valign="top">
<td>vopossession</td>
<td>verb of possession</td>
<td>verb indicting possession of something or a kinship relationship; verb stem with a noun stem base
</td>
</tr>
<tr class="odd" valign="top">
<td>vopretending</td>
<td>verb of pretending</td>
<td>verb indicating pretending to do or be; verb stem with a noun or verb stem base.
</td>
</tr>
</tbody></table>
<h2 class="title">Combinations</h2>
<p>Some of the role-changing processes listed in the above table can be applied to words multiple times, resulting in combinations of meanings. Below are some examples of combination processes for word families.
</p>
<p>detransitive of benefactive<br>
verb of undergoing of benefactive<br>
reflexive of benefactive<br>
reciprocal of benefactive</p>
<p>detransitive of causative<br>
verb of undergoing of causative<br>
reflexive of causative<br>
reciprocal of causative</p>
<p>detransitive of applicative<br>
verb of undergoing of applicative<br>
reflexive of applicative<br>
reciprocal of applicative</p>
<p>derived noun of detransitive<br>
derived noun of verb of undergoing<br>
derived noun of reflexive<br>
derived noun of reciprocal</p>
<p>derived noun of verb of making<br>
derived noun of verb of being<br>
derived noun of verb of addiction</p>

      
{% endblock content %}
