{% extends "dictionary/base.html" %}
{% block content %}

<h1 class="page-title">Understanding Audio and Example Sentences</h1>
<h2 class="title">Audio recordings in the Ojibwe People's Dictionary</h2>
<p>
As the Ojibwe People's Dictionary grows, we will continue to add audio for the head words (where the speakers feel they are appropriate) and the basic forms of words from different speakers and different communities. Each audio recording is labeled with the initials of the speaker, and linked to a photograph and biographical information. Single words are pronounced in intonation patterns appropriate for the ends of short utterances or with listing intonation. In connected speech, the intonation will change.
</p>
<h2 class="title">Example sentences</h2>
<p>The recorded examples sentences allow you to hear different forms of words in context with other words. While the sentences were created by the speakers to illustrate specific words, we often reuse them for words other than the one they were intended for. The translations of the sentences offered by the speakers are quite free and not literal or word-by-word. Future plans include word-by-word interlinear translations of selected example sentences.
</p>
<p>
Like the audio recordings for single words, example sentences are labeled with the initials of the speaker, and linked to a photograph and biographical information.
</p>


{% endblock %}
