{% extends "dictionary/base.html" %}
{% block content %}

        <h1 class="page-title">Why we need the Ojibwe People's Dictionary</h1>
<p>Ojibwe is the heritage language of more than 200,000 Ojibwe people who reside in the United States and Canada. Ojibwe Country primarily extends from Quebec, across Ontario and Manitoba to Saskatchewan in Canada, and from Michigan, Wisconsin, Minnesota and North Dakota in the United States.</p>

<p>Ojibwe is not a single standardized language, but a chain of linked local varieties, grouped into nearly a dozen dialects. Each dialect (and within dialects, each local variety) differs in details of pronunciation, vocabulary and grammar from the others, with differences between non-adjacent dialects often being great enough to impede understanding between their speakers.</p>

<p>Speakers of Ojibwe consider their language to be precise, descriptive, and visual, and feel that it is among the greatest treasures of their cultural heritage.</p>

<p>Ojibwe is an endangered language. Indigenous languages throughout the world are in decline, and have been since Europeans first colonized the Americas. Beginning in 1879, the United States established off-reservation federal boarding schools to re-educate Indian children and youth in the English language and American life-ways. Boarding schools, urban life, popular culture, and even participation in public school education all demanded that we speak English. The Ojibwe language has historically been repressed by policymakers and educators in the US and Canada, though there are many, complex reasons why fewer people today speak Ojibwe.</p>

<p>Scholars and linguists tell us that language diversity is as important to the world and our systems of knowledge as biological diversity. Ojibwe people understand that fluent speakers of the language have a wisdom that represents an accumulated knowledge of many generations. The Ojibwe language can explain why we must respect the earth and take responsibility for caring for the land, water, and its resources. It is the antidote to global climate change, environmental destruction, and unhealthy lifestyles. The Ojibwe language is where we turn for philosophy, history, science, medicines, stories, and spirituality. It is our university and the key to our cultural survival.</p>

<p>The purpose of the Ojibwe People’s Dictionary is to support language education and encourage new speakers among the present generation.</p>

<h3>Revitalizing Our Language</h3>
<p>"Revitalizing our language is foremost in my mind," says Eugene Stillday of Ponemah, Minnesota, who remembers a time when everyone spoke Ojibwe in his community. Speakers of the Ojibwe language have great insight into the historical reasons for the decline of indigenous languages, because their generation experienced it first-hand. For the most part, they have sad memories of their experiences with school and teachers. Resiliently optimistic, they remember the past but look to the future. They each share a passionate commitment to the Ojibwe language and culture, to education, and the importance of passing on the language to a new generation. Listen to the Ojibwe speakers who contributed to the Ojibwe People’s Dictionary, and their reasons for getting involved in the project.</p>

<hr>

{% endblock content %}
